* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.primo{
    width: 800px;
    height: 500px;
    background: url(img/paradiso.jpg);
    opacity: 0.4;
    background-size:cover;
    position: relative;
}
.secondo{
    width: 800px;
    height: 500px;
    background: url(img/inferno_2.jpg);
    background-size:cover;
    position: relative;
}
.terzo{
    width: 800px;
    height: 500px;
    background: url(img/terra.jpg);
    background-size:cover;
    position: relative;
}
.testo{
    color:yellow;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
